.dica {
    background-color: #2a2a2a;
    padding: 1.5rem;
    border-left: 4px solid #0f96e4;
    margin-bottom: 1.25rem;
    border-radius: 1rem;
    filter: drop-shadow(5px 5px 5px #000000);
    text-align: center;
    font-weight: bold;
  }
  
  .dica h3 {
    color: #c4811e;
    margin-bottom: 1rem;
  }
  
  .container {
    max-width: 1000px;
    margin: auto;
    padding: 1.25rem;
  }